<div class="container scrolling">

	<form class="form-horizontal book-form">
		<div class="form-group">
			<label class="control-label col-xs-2" for="selectRoom">Room:</label>
			<div class="col-xs-10">
				<select id="selectRoom"
								ng-model="selectedRoom"
								ng-options="room as room.displayName + ': ' + room.description for room in rooms track by room._id"></select>
			</div>
		</div>

		<div class="form-group">
			<label class="control-label col-xs-3" for="selectMember">Member:</label>
			<div class="col-xs-9">
				<select id="selectMember"
								ng-model="bookMember"
								ng-options="member as member.llcname for member in members track by member._id"></select>
			</div>
		</div>

		<div class="form-group">
			<label class="control-label col-xs-2">Quick Book:</label>
			<div class="col-xs-10 quick-book-bar">
				<button class="quick-book" ng-click="bookDays(bookMember,[5,0],selectedRoom)">Fri - Sun</button>
				<button class="quick-book" ng-click="bookDays(bookMember,[5,6],selectedRoom)">Fri - Sat</button>
				<button class="quick-book" ng-click="bookDays(bookMember,[6,0],selectedRoom)">Sat - Sun</button>
				<button class="quick-book" ng-click="bookDays(bookMember,[6],selectedRoom)">Sat</button>
				<button class="quick-book" ng-click="bookDays(bookMember,[0],selectedRoom)">Sun</button>
			</div>
		</div>

		<div class="form-group">
			<label class="control-label col-xs-2">Detail Book:</label>
			<div class="col-xs-10">
				<button class="label"
								ng-disabled="!canBook"
								ng-click="bookRoom()">
					<span ng-class="{blink: (bookingMode==='new' && !bookingIncomplete && canBook) || (bookingMode==='update' && isModified)}">
						Click when ready to {{((bookingMode==='new')?'book':'update')}}</span>
				</button>
			</div>
		</div>

		<div id="arriveDetail" class="form-group">
			<div class="col-xs-12">
				<button class="label button"
								ng-click="arriveDetail=!arriveDetail">Arrive:
				</button>
				<span class="book-date">{{dtArriveLabel}}</span>
			</div>
		</div>

		<div class="form-group" ng-show="arriveDetail">
			<div class="col-xs-12 expander">
				<button class="close" ng-click="arriveDetail=false"><i class="glyphicon glyphicon-remove"></i></button>
				<div class="btn-group">
					<label class="btn btn-primary" ng-model="dtArriveTimeConfig" on-model-change="setModified()"
								 uib-btn-radio="appConstants.MORNING">Morning</label>
					<label class="btn btn-primary" ng-model="dtArriveTimeConfig" on-model-change="setModified()"
								 uib-btn-radio="appConstants.AFTERNOON">Afternoon</label>
					<label class="btn btn-primary" ng-model="dtArriveTimeConfig" on-model-change="setModified()"
								 uib-btn-radio="appConstants.EVENING">Evening</label>
				</div>

				<div >
					<uib-datepicker ng-model="dtArrive" min-date="dtArriveMin" show-weeks="false"
													class="datepicker booking well well-sm"
													ng-change="onSelectArriveDate()"></uib-datepicker>
				</div>

			</div>
		</div>

		<div id="departDetail" class="form-group">
			<div class="col-xs-12">
				<button class="label button"
								ng-click="departDetail=!departDetail"
								ng-disabled="departDisabled">Depart:
				</button>
				<span class="book-date">{{dtDepartLabel}}</span>
			</div>
		</div>
		<div class="form-group" ng-show="departDetail">
			<div class="col-xs-12 expander">
				<button class="close" ng-click="arriveDetail=false"><i class="glyphicon glyphicon-remove"></i></button>
				<div class="btn-group">
					<label class="btn btn-primary" ng-model="dtDepartTimeConfig" on-model-change="setModified()"
								 uib-btn-radio="appConstants.MORNING">Morning</label>
					<label class="btn btn-primary" ng-model="dtDepartTimeConfig" on-model-change="setModified()"
								 uib-btn-radio="appConstants.AFTERNOON">Afternoon</label>
					<label class="btn btn-primary" ng-model="dtDepartTimeConfig" on-model-change="setModified()"
								 uib-btn-radio="appConstants.EVENING">Evening</label>
				</div>
				<div >
					<uib-datepicker ng-model="dtDepart" min-date="dtDepartMin" show-weeks="false"
													class="datepicker booking well well-sm"
													ng-change="onSelectDepartDate()"></uib-datepicker>
				</div>
			</div>
		</div>
		<div class="form-group">
			<div class="col-xs-12">
				<button class="label" ng-click="whoDetail=!whoDetail">Who:</button>
				<span class="book-who" ng-repeat="who in booking.who">{{who.firstname}}&nbsp;</span>
			</div>
		</div>
		<div class="form-group expander" ng-show="whoDetail">
			<div class="col-xs-12">
				<label class="btn btn-primary" style="margin:0.2em"
							 ng-repeat="person in personsForMember"
							 ng-model="person.selected"
							 ng-click="updateWho()"
							 uib-btn-checkbox>{{person.firstname}}</label>
				<button class="plus"
								ng-click="addingPerson=true"><span class="glyphicon glyphicon-plus"></span></button>
			</div>
			<div class="col-xs-12" ng-if="addingPerson">
				<add-person memberid="bookMember._id" on-success="onSuccessAddPerson(person)"></add-person>
			</div>
		</div>
		<div class="form-group">
			<div class="col-xs-2">
				<label class="control-label col-xs-2" for="taNotes">Notes:</label>
			</div>
			<div class="col-xs-10">
				<textarea id="taNotes" ng-model="note" on-model-change="setModified()"></textarea>
			</div>
		</div>


		<div class="form-group h-box left-align">
			<button class="label" ng-click="guestRequestDetail=!guestRequestDetail">Guests:</button>
			<label>{{guestRoomRequests.length}}</label>

		</div>
		<div class="form-group expander" ng-show="guestRequestDetail">
			<div class="form-group h-box">
				<div class="full-width">Room Requests:</div>
				<button class="plus"
								ng-click="addGuestRequest(bookMember._id)"><span class="glyphicon glyphicon-plus"></span></button>
			</div>
			<div class="v-box" ng-repeat="grq in guestRoomRequests">
				<div class="h-box">
					<label class="popup-label">For: </label>
					<select class="popup-label"
									ng-model="grq.personId" on-model-change="setModified()"
									ng-options="person._id as person.firstname + ' ' + person.lastname for person in allPersons">
						<option disabled value="">Please choose a person</option>
					</select>

					<label class="popup-label">Person Count:</label>
					<div class="popup-label" rn-stepper ng-model="grq.guestCount" min="0" max="15"></div>
				</div>
				<div class="h-box">
					<label class="popup-label">Room:</label>
					<label type="text" class="popup-value" ng-model="grq.roomid"></label>
					<label class="popup-label">Note:</label>
					<input type="text" class="popup-value full-width" ng-model="grq.note">
					<button class="close" ng-click="removeGuestRequest($index)"><i class="glyphicon glyphicon-remove"></i></button>
				</div>
			</div>
		</div>

	</form>
</div>