<div class="container">

	<form class="form-horizontal book-form">
		<div class="form-group">

			<label class="control-label col-xs-2" for="selectRoom">Member:</label>

			<div class="col-xs-10">
				{{bookMember.llcname}}
			</div>
		</div>
		<div class="form-group">

			<label class="control-label col-xs-2" for="selectRoom">Room:</label>

			<div class="col-xs-10">
				<select id="selectRoom"
						ng-model="selectedRoom"
						ng-options="room as room.displayName + ': ' + room.description for room in rooms track by room._id"></select>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-xs-2">Quick Book:</label>

			<div class="col-xs-10">
				<button class="quick-book" ng-click="bookDays(bookMember,[5,0],selectedRoom)">Fri - Sun</button>
				<button class="quick-book" ng-click="bookDays(bookMember,[5,6],selectedRoom)">Fri - Sat</button>
				<button class="quick-book" ng-click="bookDays(bookMember,[6,0],selectedRoom)">Sat - Sun</button>
				<button class="quick-book" ng-click="bookDays(bookMember,[6],selectedRoom)">Sat</button>
				<button class="quick-book" ng-click="bookDays(bookMember,[0],selectedRoom)">Sun</button>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-xs-2">Detail Book:</label>

			<div class="col-xs-10">
				<button class="label"
						ng-disabled="bookingIncomplete"
						ng-click="bookRoom()"><span ng-class="{blink: !bookingIncomplete}">Click when ready to book</span></button>
			</div>
		</div>
		<div id="arriveDetail" class="form-group">
			<div class="col-xs-12">
				<button class="label button"
						ng-click="arriveDetail=!arriveDetail">Arrive:</button>
				<span class="book-date">{{dtArriveLabel}}</span>
			</div>
		</div>
		<div class="form-group" ng-show="arriveDetail">
			<div class="col-xs-12 expander">
				<div class="btn-group">
					<label class="btn btn-primary" ng-model="dtArriveTimeConfig" uib-btn-radio="appConstants.MORNING">Morning</label>
					<label class="btn btn-primary" ng-model="dtArriveTimeConfig" uib-btn-radio="appConstants.AFTERNOON">Afternoon</label>
					<label class="btn btn-primary" ng-model="dtArriveTimeConfig" uib-btn-radio="appConstants.EVENING">Evening</label>
				</div>

				<div style="display:inline-block; min-height:290px;">
					<uib-datepicker ng-model="dtArrive" min-date="dtArriveMin" show-weeks="true" class="well well-sm"
									ng-change="onSelectArriveDate()"></uib-datepicker>
				</div>

			</div>
		</div>
		<div id="departDetail" class="form-group">
			<div class="col-xs-12">
				<button class="label button"
						ng-click="departDetail=!departDetail"
						ng-disabled="departDisabled">Depart:</button>
				<span class="book-date">{{dtDepartLabel}}</span>
			</div>
		</div>
		<div class="form-group" ng-show="departDetail">
			<div class="col-xs-12 expander" >
				<div class="btn-group">
					<label class="btn btn-primary" ng-model="dtDepartTimeConfig" uib-btn-radio="appConstants.MORNING">Morning</label>
					<label class="btn btn-primary" ng-model="dtDepartTimeConfig" uib-btn-radio="appConstants.AFTERNOON">Afternoon</label>
					<label class="btn btn-primary" ng-model="dtDepartTimeConfig" uib-btn-radio="appConstants.EVENING">Evening</label>
				</div>
				<div style="display:inline-block; min-height:290px;">
					<uib-datepicker ng-model="dtDepart" min-date="dtDepartMin" show-weeks="true" class="well well-sm"
									ng-change="onSelectDepartDate()"
							></uib-datepicker>
				</div>
			</div>
		</div>
		<div class="form-group">
			<div class="col-xs-12">
				<button class="label" ng-click="whoDetail=!whoDetail">Who:</button>
				<span class="book-who" ng-repeat="person in personsForMember | filter:{ selected: true }">{{person.firstname}}&nbsp;</span>
			</div>
		</div>
		<div class="form-group expander" ng-show="whoDetail">
			<div class="col-xs-12" >
				<label class="btn btn-primary" style="margin:0.2em"
					   ng-repeat="person in personsForMember"
					   ng-model="person.selected" uib-btn-checkbox>{{person.firstname}}</label>
				<button class="plus"
								ng-click="addingPerson=true"><span class="glyphicon glyphicon-plus"></span> </button>
			</div>
			<div class="col-xs-12" ng-show="addingPerson" >
				<add-person memberid="bookMember._id"></add-person>
			</div>
		</div>
		<div class="form-group">
			<div class="col-xs-2">
				<label class="control-label col-xs-2" for="taNotes">Notes:</label>
			</div>
			<div class="col-xs-10">
				<textarea id="taNotes" ng-value="note"></textarea>
			</div>
		</div>
	</form>
</div>