<div class="full-height-view chat-view">
	<div class="flex-v-container">
		<div class="flex-v-header chat-msg-header">
			<div class="msg-search-bar">
				<input id="inputMatchString" type="text" class="match-string chat-msg-search"
							 placeholder="Filter messages for..."
							 ng-model-options="{ debounce: 500 }"
							 ng-model="vm.matchString">
				<i class="glyphicon glyphicon-remove-sign match-string" ng-click="clearMatchString()"></i>
				<input type="text" readonly class="month-picker"
							 uib-datepicker-popup="MMM-yyyy"
							 ng-model="vm.dtFrom" is-open="vm.monthPickOpen"
							 popup-placement="bottom-right"
							 datepicker-mode="'month'"
							 datepicker-options="dateOptions"
							 close-text="Close"/>
				<span>
					<i class="glyphicon glyphicon-calendar month-picker"
						 ng-click="toggleMonthPicker()"></i>
				</span>
			</div>
		</div>
		<div class="flex-v-content chat-msg-list">
			<div class="empty-msg-list" ng-show="vm.isFilterEmpty">
				<p>No messages match your filter</p>
				<ul>
					<li>Try selecting an earlier 'From' date in the filter bar above.</li>
					<li>Change your search string.</li>
					<li>Clear your search string.</li>
				</ul>
			</div>
			<div class="row-chat-msg"
					 ng-repeat="message in chatMessages"
					 ng-class="{read: message.read}"
					 ng-style="{'font-size':vm.msgFontSize + 'px'}"
					 scroll-to-last
					 when-visible="markAsRead">
				<div class="col-chat-msg">
					<span class="message-from">{{message.person.firstname}}:</span>{{message.msg}}
				</div>
				<div class="col-msg-info">
					{{message.dt | date:'HH:mm'}}<br>
					{{message.dt | date:'MMM-dd'}}
				</div>
			</div>
		</div>
		<div class="flex-v-footer">
			<form role="form" novalidate name="form" class="chat-msg-footer">
				<div class="form-group">
					<textarea id="chatMsgInput" class="chat-msg"
										required
										ng-model="vm.chatMsgSend"></textarea>
					<br>
					<button class="chat-msg"
									ng-enable="vm.chatMsgSend.length>0"
									ng-click="sendChatMessage()">SEND
					</button>
					<div class="chat-font-set">
						<label>Font:</label><br>
						<div rn-stepper ng-model="vm.msgFontSize" min="8" max="20"></div>
					</div>
				</div>
			</form>
		</div>

	</div>

</div>