<div>
  <span>Filter Field:</span>
  <select ng-model="filterField" ng-change="onChangeField()">
    <option value="state" selected>State</option>
    <option value="city">City</option>
    <option value="zip">Zip</option>
  </select>

  <input id="inputFilterValue" type="text" placeholder="Value" class="filter-value"
         ng-model="filterValue" on-enter-key="onClickFilter()">
  <button ng-click="onClickFilter()">Find</button>
  <hr>
  <div class="container">
    <div class="person-list">
      <div
          ng-repeat="person in persons"
          ng-click="onClickPerson(person)">
    <span class="fullNameCol"
          ng-class="{'selected-person':person._id === selectedId}">{{person.first_name}} {{person.last_name}}</span>
      </div>
    </div>

    <div class="person-detail" ng-hide="!person">
      <span class="form-label">Name:</span><span
        class="form-value">{{person.first_name}} {{person.last_name}}</span><br>
      <span class="form-label">Street:</span><span class="form-value">{{person.address}}</span><br>
      <span class="form-label">City:</span><span class="form-value">{{person.city}}</span><br>
      <span class="form-label">State:</span><span class="form-value">{{person.state}}</span><br>
      <span class="form-label">Zip:</span><span class="form-value">{{person.zip}}</span><br>
      <span class="form-label">Phone:</span><span class="form-value">{{person.phone}}</span><br>
    </div>
  </div>

</div>