<div>
  <div class="container v-box ">
    <div class="flex-v-header">
      <div class="search-bar">
        <button class="add-item">
          <i class="glyphicon glyphicon-plus person-header"
             ng-click="vm.addLinkDetail=!vm.addLinkDetail"></i>
        </button>
        <input id="inputMatchString" type="text" class="match-string chat-msg-search"
               placeholder="Filter links"
               ng-model-options="{ debounce: 200 }"
               ng-model="vm.matchString">
        <i class="glyphicon glyphicon-remove-sign match-string" ng-click="clearMatchString()"></i>
      </div>
    </div>
    <div class="form-group expander" ng-show="vm.addLinkDetail">
      <div>
        <input type="text" class="form-control" placeholder="Label"
               ng-model="vm.label">
        <input type="text" class="form-control" placeholder="url"
               ng-model="vm.url">
      </div>
      <div class="toolbar">
        <button class="tool"
                ng-click="addLink()">Add
        </button>
      </div>
    </div>


    <div class="container scrolling single-header">
      <div class="h-box links" ng-repeat="link in vm.linksDisplay">
        <div new-window="{{link.url}}">{{link.label}}</div>
        <button ng-click="deleteLink(link)"><i class="glyphicon glyphicon-remove booking"></i> </button>
      </div>
    </div>
  </div>
</div>