<div>
  <div class="login-input">
    <input type="text" placeholder="user name" ng-model="vm.username" focus-me="true">
    <input type="password" placeholder="password"
           ng-model="vm.password"
           ng-change="validateForm()" on-enter-key="logIn()">
    <div>
      <input type="checkbox" ng-model="vm.rememberMe"> Remember me on this device
    </div>
  </div>

  <button class="module-menu-item"
          ng-class="{'selected':'book' === activeState}"
          ng-click="logIn('book')"
          ng-disabled="!isFormValid">Book
  </button>
  <button class="module-menu-item"
          ng-class="{'selected':'booking-schedule' === activeState}"
          ng-click="logIn('booking-schedule')"
          ng-disabled="!isFormValid">Sched
  </button>
  <button class="module-menu-item"
          ng-class="{'selected':'chat' === activeState}"
          ng-click="logIn('chat')"
          ng-disabled="false">Chat
  </button>
<!--
  <button class="module-menu-item"
          ng-class="{'selected':'booking-list' === activeState}"
          ng-click="goView('booking-list')"
          ng-disabled="false">Bookings
  </button>
  <button class="module-menu-item"
          ng-class="{'selected':'settings' === activeState}"
          ng-click="logIn('settings')"
          ng-disabled="!isFormValid">Other
  </button>
-->
</div>