<div>
  <div class="container">
    <paginator></paginator>
    <hr class="paginator">
    <br>
    <div class="member-list">
      <div
          ng-repeat="member in members"
          ng-click="onClickMember(member)">
      <div class="fullNameCol"
          ng-class="{'selected-member':member._id === selectedId}">{{member.llcname}}</div>
      </div>
    </div>


    <div class="member-detail" ng-hide="!member">
      <span class="form-label">Name:</span><span class="form-value">{{member.llcname}}</span><br>
      <span class="form-label">Branch:</span><span class="form-value">{{member.branchid}}</span><br>
      <span class="form-label">Share:</span><span class="form-value">{{member.share}}</span><br>
    </div>
  </div>

</div>