@media (max-width: 321px) {
  .date-col {
    width: 33px;
  }

  div.quick-book-bar > button.quick-book {
    padding: 0.1em;
  }
}
.nav, .pagination, .carousel, .panel-title a {
  /*for bootstrap*/
  cursor: pointer;
}

.form-control {
  font-size: 12px;
  font-weight: normal;
}

.form-checkbox {
  font-size: 12px;
  font-weight: normal;
  width: 1em;
  height: 1em;
  margin: 0 .25em 0 2em;
}

.form-horizontal .form-group {
  margin-right: 0;
  margin-left: 0;
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}

label[class*="col-"] {
  padding-right: 0.3em;
  padding-left: 0.3em;
}

div[class*="col-"] {
  padding-right: 0.3em;
  padding-left: 0.3em;
}

body {
  padding: 0;
  margin: 0;
  font: 14px "Oswald";
  font-weight: bold;
  color: steelblue;
  background-color: papayawhip;
}

select {
  border: 1px solid black;
  border-radius: 5px;
  font-size: 16px;
}

label {
  font-weight: bold;
  color: steelblue;
}

label.nested {
  font-weight: normal;
  font-size: 14px;
}

.label-radio {
  margin: 0.25em;
}

button, button.label {
  /*margin: 12px;*/
  font: 12px "Oswald";
  font-weight: bold;
  color: #ffffff;
  background-color: slategrey;
  border-radius: 25px;
  /*border: 1px solid;*/
}

button.close {
  position: relative;
  top: 0;
  right: 0;
  color: black;
  font-size: 14px;
}

button.main-action {
  width: 100%;
  height: 2.5em;
  min-width: 4.5em;
  font-size: 14px;
}

button.chat-msg {
  float: right;
  height: 3.0em;
  width: 6.0em;
  font-size: 1.2em;
}

button:focus {
  outline: 0;
}

.btn {
  padding: 3px 6px;
}

.btn-primary.active, .btn-primary:active, .btn-primary:hover, .btn-primary.active:hover {
  background-color: transparent;
  border: solid 1px #245580;
  color: #245580;
}

div.login-input > input[type="text"], input[type="password"] {
  display: block;
}

input.match-string {
  display: inline;
  width: 350px;
  font-weight: bold;
}

input.filter-value {
  margin-left: 1em;
  max-width: 100px;
}

button:hover:enabled {
  color: rgba(0, 0, 0, 0.75);
}

button:active {
  color: rgba(0, 0, 0, 0.75);
  opacity: 0.60;
}

a {
  color: #00B7FF;
}

hr.header {
  width: 100%;
  opacity: 0.60;
  border: 2px solid darkslateblue;
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}
hr.header.guest {
  opacity: 1.0;
  border: 2px solid yellow;
}

hr.paginator {
  color: rgba(0, 0, 0, 0.75);
  opacity: 0.60;
  border: 3px solid darkslateblue;
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}

.header {
  font-size: large;
}

.header-label {
  font-family: "Bodoni MT Black", sans-serif;
}

.header-link {
  float: right;
  cursor: pointer;
  margin: 0 0 5px 20px;
  text-decoration: underline;
  font-size: 18px;
  color: slategrey;
}

.header-link:hover {
  color: rgba(0, 0, 0, 0.75);
}

button.log-in {
  float: left;
  height: 3.0em;
  min-width: 4.0em;
  font-size: 1.2em;
  margin: 0.2em;
}

div.login-input {
  overflow: hidden;
  max-width: 25em;
}
div.login-input > input {
  font-size: 2em;
  width: 12em;
  margin-bottom: 0.25em;
  padding: 0.25em;
}
div.login-input > input[type=checkbox] {
  width: 1em;
  height: 1em;
}

.content {
  padding: 0.2em;
}

.horiz-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.horiz-menu li {
  float: left;
}

.horiz-menu a {
  padding-right: 20px;
  width: 100px;
  color: darkslateblue;
  text-decoration: none;
}

.horiz-menu li.selected {
  color: rgba(0, 0, 0, 0.75);
  opacity: 0.60;
  text-decoration: underline;
}

.horiz-menu li:hover {
  color: rgba(0, 0, 0, 0.75);
  opacity: 0.60;
}

.description {
  font-size: small;
  font-weight: normal;
}

.container {
  clear: both;
  /*we never want this element to float*/
  padding-right: 0.2em;
  padding-left: 0.2em;
}

.scrolling {
  height: 100%;
  overflow-y: scroll;
}

.person-list-heading {
  height: 35px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  font-size: 16px;
  padding-right: 0.2em;
  padding-left: 0.2em;
}

.flex-v-header button.add-item {
  height: 2.5em;
  width: 4em;
  margin-right: 20px;
}

.person-list-heading button > i.glyphicon.glyphicon-plus {
  font-size: 25px;
}

.person-list-detail {
  font-size: 14px;
}
.person-list-detail input[type=text] {
  font-size: 14px;
}
.person-list-detail select.member {
  min-width: 170px;
}

span.control-value {
  color: #000000;
}

.permission-actions {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 12px;
}

.permission-contexts {
  display: flex;
  flex-direction: column;
  color: #000000;
  font-weight: normal;
}

.book-form {
  font-size: 16px;
}

.form-label {
  float: left;
  /*width:50px;*/
  color: steelblue;
  text-align: right;
  margin-right: 0.5em;
}

.form-value {
  color: #000000;
}

button.paginator {
  padding: 0;
  margin: 0;
  width: 30px;
}

select.paginator {
  margin-left: 1em;
  margin-right: 1em;
}

button.paginator:focus {
  outline: 0;
}

.paginator-label {
  float: left;
  width: 30px;
  font-weight: normal;
  color: steelblue;
  margin-left: 5px;
}

.paginator-value {
  color: #000000;
  float: left;
  width: 1em;
}

.paginator-label.page-num {
  width: 70px;
}

.logo {
  width: 100%;
  height: 200px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../images/rsl-logo-2.png");
}

.view-header {
  width: 100%;
}

.logo-small {
  width: 40px;
}

div.module-menu {
  overflow: hidden;
  height: 3.0em;
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

button.menu-nav {
  width: 20px;
  height: 100%;
  border-radius: 0;
  margin: 0 3px 0 3px;
}

div.menu-buttons {
  overflow-x: scroll;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

button.module-menu-item {
  height: 100%;
  width: 50px;
  min-width: 4.0em;
  font-size: 1.2em;
  margin: 0;
}

button[disabled] {
  color: lightgray;
}

div.module-menu button.selected {
  color: blue;
  background-color: unset;
  border: solid 1px slategrey;
}

button.label {
  height: 2.5em;
  min-width: 4.5em;
  font-size: 14px;
}

div.quick-book-bar {
  padding: 0;
}

button.quick-book {
  font-size: 16px;
  height: 3.0em;
  margin: 0;
  padding: 0.3em;
}

button.plus {
  font-size: 18px;
  font-weight: bold;
}

.system-alert {
  position: absolute;
  top: 15em;
  left: 1em;
  background-color: white;
  color: red;
  width: 20em;
  font-size: 1.2em;
}

.book-date {
  font-size: 16px;
  font-weight: normal;
}

.blink {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0.0;
  }
}
#taNotes {
  width: 100%;
  height: 60px;
  font-size: 14px;
  font-weight: normal;
}

.expander {
  margin-right: 0.3em;
  margin-left: 0.3em;
  padding: 0.3em;
  border: 1px solid #337ab7;
  border-radius: 10px;
}

.expander.nested {
  margin: 0;
}

.day-label {
  color: white;
}

.daypart-label {
  float: right;
  color: white;
  font-style: italic;
  margin-right: 2px;
}

.day-label.today,
.daypart-label.today {
  color: deepskyblue;
  font-weight: normal;
}

.residence-day-section {
  display: block;
  float: left;
  height: 24px;
  width: 25px;
  margin-left: 2px;
  background-color: white;
  opacity: 0.2;
  overflow: hidden;
  text-align: center;
}
.residence-day-section.header {
  border: none;
  background-color: unset;
  opacity: 1;
  font-size: 12px;
  font-weight: bold;
}

.arrive {
  border-top: solid 2px black;
  border-left: solid 1px black;
  border-right: solid 1px black;
  background: linear-gradient(to right, steelblue, lightgray, steelblue);
  opacity: 1;
}

.resident {
  border-top: none;
  border-left: solid 1px black;
  border-right: solid 1px black;
  background: linear-gradient(to right, steelblue, lightgray, steelblue);
  opacity: 1;
}
.resident.guest {
  border-left: dashed 2px yellow;
  border-right: dashed 2px yellow;
}

.depart {
  border-top: none;
  border-bottom: solid 2px black;
  border-left: solid 1px black;
  border-right: solid 1px black;
  background: linear-gradient(to right, steelblue, lightgray, steelblue);
  opacity: 1;
}

div.res-sched-section {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  font-size: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}
div.res-sched-section > div.date-col {
  flex-grow: 1;
  overflow: hidden;
  text-overflow: clip;
  max-width: 4.5em;
}
div.res-sched-section > div.rooms-cols {
  width: 270px;
}
div.res-sched-section > div.unit-header {
  width: 270px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

div.res-sched-section.night {
  background: linear-gradient(black, grey);
}

div.res-sched-section.morning {
  background: linear-gradient(gray, yellow);
}

div.res-sched-section.afternoon {
  background: linear-gradient(yellow, orange);
}

div.res-sched-section.evening {
  background: linear-gradient(orange, black);
}

.room-req-count {
  color: black;
  font-weight: bold;
  padding: 1px;
  border: 2px solid yellow;
  border-radius: 5px;
}

.room-req-count.confirmed {
  color: black;
}

.popup-large {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -15em;
  margin-left: -10em;
  width: 20em;
  height: 30em;
  background: linear-gradient(to right, lightgray, white, lightgray);
  color: black;
  padding: 1em;
}

.popup-large.booking {
  background: linear-gradient(to right, steelblue, lightgray, steelblue);
}

.popup-title {
  font-size: 16px;
  font-weight: bold;
}

.popup-label {
  font-size: 14px;
  font-weight: normal;
}
.popup-label.guest {
  color: yellow;
}

.popup-value {
  font-size: 14px;
  font-weight: normal;
  text-decoration: underline;
}

.booking-grid {
  width: 380px;
  height: 400px;
}

.booking-list-item {
  width: 100%;
  height: 20px;
}

.booking-list {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  font-size: 12px;
  font-weight: normal;
}

.booking-list table, td, th {
  border: 1px solid steelblue;
  border-collapse: collapse;
}

.booking-list td, th {
  border: 1px solid steelblue;
  padding: 2px;
}

.booking-list-item .member {
  width: 35%;
  text-overflow: ellipsis;
}

.booking-list-item .room {
  width: 25%;
  text-overflow: ellipsis;
}
.booking-list-item .room.guest {
  background-color: yellow;
}

.booking-list-item .date {
  width: 20%;
}

.chat-view {
  padding: 0;
  font-size: 12px;
}

.search-bar,
.msg-search-bar {
  height: 35px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  font-size: 16px;
}

.msg-search-bar .dropdown-menu {
  /*placement config option not working*/
  left: unset !important;
  right: 5px !important;
}

input.chat-msg-search {
  flex-basis: 70%;
}

i.glyphicon-remove-sign.match-string {
  padding-right: 15px;
  font-size: 25px;
  color: slategray;
}

input.month-picker {
  width: 75px;
  font-size: 14px;
}

i.glyphicon-calendar.month-picker {
  font-size: 25px;
  color: slategray;
}

.booking-list-item i.glyphicon-remove.booking {
  font-size: 25px;
  color: red;
}

textarea.chat-msg {
  width: 100%;
  height: 60px;
  font-weight: normal;
  color: black;
}

.row-chat-msg {
  display: flex;
  flex-flow: row nowrap;
  border-radius: 5px;
  border: 1px solid #337ab7;
  background-color: white;
  margin: 0 0 2px 0;
  padding: 5px 0 0 0;
  font-weight: normal;
  color: black;
}

.row-chat-msg.read {
  border: 1px dashed #c0c0c0;
  background-color: ghostwhite;
  transition: background-color 2s;
}

div.col-chat-msg {
  flex-basis: 100%;
}

div.col-msg-info {
  flex-basis: 5.0em;
  text-align: right;
  font-weight: normal;
}

span.message-from {
  display: inline-block;
  width: 5em;
  text-align: right;
  font-weight: bold;
  font-style: italic;
  color: steelblue;
  padding-right: 20px;
}

div.empty-msg-list {
  margin: 30px;
  padding: 10px;
  background-color: ghostwhite;
  font-size: 16px;
  color: steelblue;
}

.full-height-view {
  height: calc(100% - 115px);
  width: 100%;
}

.flex-v-container {
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
}

.flex-v-header {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
}

.flex-v-footer {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
}

.flex-v-content {
  height: calc(100% - 180px);
  flex: auto;
  overflow-y: scroll;
  width: 100%;
  margin: 5px 0 5px 0;
}

form.chat-msg-footer {
  margin-bottom: 0;
}

.system-message {
  width: 300px;
  height: 100px;
  border: 2px solid red;
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: black;
  color: white;
  font-size: 16px;
  padding: 5px;
  z-index: 100;
  border-radius: 25px;
}

.system-message button {
  position: absolute;
  top: 5px;
  right: 5px;
  height: 30px;
  width: 30px;
}

.system-message div {
  padding: 10px;
  margin-right: 30px;
}

.settings-section {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.settings-section.borders {
  border: 1px solid #337ab7;
}

.settings-section .setting-label {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 35%;
  text-align: right;
}

.datepicker.booking {
  margin-top: 5px;
  height: 290px;
  width: 100%;
}

.datepicker.booking > table {
  width: 100%;
  height: 100%;
}

/***** direectives *************/
div[rn-stepper] {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

div[rn-stepper].ng-invalid-out-of-bounds input {
  color: #FF3B34;
  border: 3px solid #FF3B34;
}

div[rn-stepper][disabled] input {
  color: #aaa;
  border: 0;
}

div[rn-stepper] i {
  color: slategrey;
  font-weight: bold;
  font-size: 25px;
}

div[rn-stepper] i[disabled] {
  opacity: 0.3;
}

div[rn-stepper] i:active {
  box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.25);
  background: #3434ff;
}

div[rn-stepper] input {
  width: 30px;
  height: 25px;
  padding: 0;
  background: #ffffff;
  text-align: center;
}

div.toolbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  font-size: 16px;
  margin-top: 0.5em;
}
div.toolbar .tool {
  font-size: 16px;
}
div.toolbar .tool.delete {
  background-color: red;
}

.v-box {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
}
.v-box .h-box {
  margin-bottom: 0.25em;
}

.h-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.h-box > label {
  flex-basis: auto;
}
.h-box input[type=text].full-width {
  width: 100%;
}
.h-box > *:not(:first-child) {
  margin-left: 0.25em;
}
.h-box > *:not(:first-child).form-checkbox {
  margin-right: 2em;
  height: 3em;
  width: 3em;
}
.h-box.links {
  font-size: 18px;
  padding: 2px 0 2px 0;
}

.form-group .h-box {
  justify-content: flex-start;
}

.h-box.left-align {
  justify-content: flex-start;
}

.expander .h-box > label:first-child {
  width: 2rem;
}
.expander .h-box .full-width {
  width: 100%;
}
.expander .h-box .h-filler {
  display: inline-block;
  width: 100%;
}

div.borders {
  border: 1px solid #337ab7;
  border-radius: 10px;
  padding: 5px;
  background-color: ghostwhite;
  margin: 0.25em 0 0.25em 0;
}

/*# sourceMappingURL=style.css.map */

/*# sourceMappingURL=style.css.map */
