<div id="booking-detail" class="popup-large booking" ng-show="bookingDetailShow">
	<button class="button close" ng-click="bookingDetailClose('close', bookingSelected)"><i
			class="glyphicon glyphicon-remove"></i></button>
	<form class="form-horizontal book-form">
		<div class="popup-title">Booking detail</div>
		<div class="form-group">
			<div class="col-xs-10">
				<button class="label button" ng-click="bookingDetailClose('change', bookingSelected)">Change</button>
				<button class="label button" ng-click="bookingDetailClose('delete', bookingSelected)">Delete</button>
				<button class="label button" ng-click="bookingDetailClose('new', bookingSelected)">New</button>
			</div>
		</div>
		<hr class="header">
		<div class="form-group">
			<span class="col-xs-3 popup-label">Member:</span>
			<span class="col-xs-9 popup-value">{{bookingSelected.member.llcname}}</span>
		</div>
		<div class="form-group">
			<span class="col-xs-3 popup-label">Room:</span>
			<span
					class="col-xs-9 popup-value">{{bookingSelected.room.displayName}}: {{bookingSelected.room.description}}</span>
		</div>
		<div class="form-group">
			<span class="col-xs-3 popup-label">Arrive:</span>
			<span class="col-xs-9 popup-value">{{getDateTimeLabel(bookingSelected.arrive)}}</span>
		</div>
		<div class="form-group">
			<span class="col-xs-3 popup-label">Depart:</span>
			<span class="col-xs-9 popup-value">{{getDateTimeLabel(bookingSelected.depart)}}</span>
		</div>
		<div class="form-group">
			<span class="col-xs-3 popup-label">Who:</span>
			<div class="col-xs-9 popup-value">
				<span ng-repeat="person in bookingSelected.who">{{person.firstname}}&nbsp;</span>
			</div>
		</div>
		<div class="form-group">
			<div class="col-xs-2">
				<label class="control-label col-xs-2" for="taNotes">Notes:</label>
			</div>
			<div class="col-xs-10">
				<textarea id="taNotes" ng-model="bookingSelected.note" readonly></textarea>
			</div>
		</div>
		<div class="h-box borders">
			<label class="popup-label">Room Requests:</label> {{bookingSelected.guestRoomRequests.length}}</span>
			<div class="h-filler"></div>
			<button class="label button" ng-click="showGuestBooking(bookingSelected._id, $event)">Volunteer Guest Room</button>
		</div>
	</form>
</div>