<div id="guest-booking" class="popup-large" ng-show="guestBookingShow">
	<button class="button close" ng-click="guestBookingClose('close', bookingSelected)"><i
			class="glyphicon glyphicon-remove"></i></button>
	<form class="form-horizontal book-form v-box">
		<div class="popup-title">Guest Booking Request</div>
		<hr class="header">
		<div class="h-box">
			<label class="popup-label">Responsible Member:</label>
			<div class="popup-value">{{bookingSelected.member.llcname}}</div>
		</div>

		<div class="h-box">
			<label class="popup-label">Guests:</label>
			<div class="popup-value">Room Requests: {{bookingSelected.guestRoomRequests.length}}</div>
		</div>
		<div class="v-box borders" ng-repeat="grq in bookingSelected.guestRoomRequests">

			<div class="h-box">
				<label class="popup-value">For: {{getPersonNameById(grq.personid)}}</label>
				<select class="popup-label"
								ng-model="grq.roomid"
								ng-options="room as room.unit + ': ' + room.description for room in rooms track by room._id">
					<option disabled value="">Please choose a room</option>
				</select>

			</div>
			<div class="h-box">
				<label class="popup-label">Booking by: {{bookMember.llcname}}</label>
				<button class="label button" ng-click="confirmGuestBooking(grq)">Book</button>
			</div>
			<div class="h-box">
				<label class="popup-label">Note:</label>
				<input type="text" class="popup-value full-width" ng-model="grq.note">
			</div>

		</div>
	</form>
</div>